/*Hello , This is seekinfox's css, Thank you for clicking me out*/
html, main {
    width:100vw;
    height:100vh;
    margin: 0;
    top: 0;
    right: 0;
    left:  0;    
    font-family: 'Red Hat Display', sans-serif;
    
    background-size: contain;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
}
body::before {
     content: "";
   position: fixed;
  top: 0;
  left:0;
  height: 100vh;
  width: 100vw;
  z-index: -1; 
 background: rgba(232, 224, 255, 0.5)  url("https://raw.githubusercontent.com/seekinfox/Order-summary-component/c951661a309cc5d44e36cb5e6604612f1bc10af3/images/pattern-background-mobile.svg");
  
  background-size: 100% 30%;
  background-repeat: no-repeat;
}

:root {
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 85%);
    --Dark-blue: hsl(223, 47%, 23%);
    --Pale-blue: hsl(225, 100%, 94%);
    --Pale-blueA: rgba(232, 224, 255,0.5);
    --Bright-blue: hsl(245, 75%, 52%);
    --Bright-blue1: hsl(245, 75%, 62%);
}

#card {
    display: block;
    background: white;
    min-width: 350px;
    max-width: 350px;
    box-shadow: 0px 10px 20px var(--Desaturated-blue);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
#hero {
   
    max-height: 35vh;
}
img {
    display: block;
    width: 100%;
    height: auto;
    background-size: cover;
    border-radius: 20px 20px 0 0;
}
div #svg {
    position:absolute;
}
#summary {
    
    max-height: 25vh;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 1rem;
}
div#summary p {
    font-weight: 500;
    padding: 0 2.3rem;
    font-size: 16px;
}
div#summary h2 {
   /* messed up*/
}

#plan {
    padding: 1rem 0;
    background: var(--Very-pale-blue);
    width: 90%;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: center;
}
#plan1 {
    margin-right: 2rem;
}
div p {
    font-size: 14px;
    font-weight: 700;
    margin: 0.1rem auto;
}
.gray {
    color:gray;
}

#button {
    width: 90%;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin: 1.5rem 0 1.5rem 0;
}

#Bone {
    box-shadow: 1px 20px 5px var(--Desaturated-blue), -1px 20px 5px var(--Desaturated-blue);
    border-radius: 15px;
    background: var(--Bright-blue);
    color: white;
    font-weight: 900;
    border: none;
    padding: 0.9rem;
}
#Bone:hover {
    cursor: pointer;
    background: var(--Bright-blue1);
}
#Btwo {
    background: white;
    box-shadow: 0 10px 10px var(--Desaturated-blue) inset;
    border-radius: 10px;
    font-weight: 900;
    border: none;
    color: rgb(50,50,100);
    padding: 0.9rem;
}
#Btwo:hover {
    cursor: pointer;
    color: rgb(0,0,0);
}

@media (min-width: 768px) {
    body::before  {
       content: "";
        background: rgba(232, 224, 255, 0.5)  url("https://raw.githubusercontent.com/seekinfox/Order-summary-component/c951661a309cc5d44e36cb5e6604612f1bc10af3/images/pattern-background-desktop.svg");
  
  background-size: 100% 33%;
  background-repeat: no-repeat;
        display: flex;
    }
    main {
        width: 100vw;
        height: 100vh;
        display: flex;
       
    }
}
.attribution {
    padding: 1rem;
    color: rgb(160,160,160);
    margin-top: 1rem;
}
.attribution a {
    text-decoration: none;
    color: hsl(245, 75%, 82%);
}
a:hover {
    text-decoration: none;
    color: var(--Bright-blue1);
}